<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground 3</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        h1{
    text-align:center;        }

        .color{
            width:100px;
            height: 100px;
            background-color: var(--color);
            border: 1px solid black;
            margin: 20px;
            display: inline-block
        }
    </style>



</head>
<body>
    <h1>Welcome!</h1>
    {% for i in range(times): %}
    <div class="color" style="--color: {{ color }}"></div>
    {% endfor %}

</body>
</html>